In [1]:
import sqlite3
import pandas as pd

In [2]:
# Path to your database
database_path = '../data/sp500_data.db'

# Connect to the SQLite database
conn = sqlite3.connect(database_path)

In [3]:
# Query to list all tables
query = "SELECT name FROM sqlite_master WHERE type='table';"
tables = pd.read_sql_query(query, conn)

# Display table names
print(tables)

                           name
0               sp500_companies
1  sp500_stocksprice_and_volume

In [4]:
# Load sp500_companies table
query_companies = "SELECT * FROM sp500_companies;"
sp500_companies_df = pd.read_sql_query(query_companies, conn)

# Load sp500_stocksprice_and_volume table
query_stocks = "SELECT * FROM sp500_stocksprice_and_volume;"
sp500_stocks_df = pd.read_sql_query(query_stocks, conn)

# Display the first few rows of each DataFrame

In [5]:


print("\nSP500 Stocks Price and Volume Data:")
print(sp500_stocks_df.head())

SP500 Stocks Price and Volume Data:
                  date  open_price($)  high_price($)  low_price($)  \
0  1950-01-03 00:00:00          16.66          16.66         16.66
1  1950-01-04 00:00:00          16.85          16.85         16.85
2  1950-01-05 00:00:00          16.93          16.93         16.93
3  1950-01-06 00:00:00          16.98          16.98         16.98
4  1950-01-09 00:00:00          17.08          17.08         17.08

   close_price($)   volume
0           16.66  1260000
1           16.85  1890000
2           16.93  2550000
3           16.98  2010000
4           17.08  2520000

In [6]:
print("SP500 Companies Data:")
print(sp500_companies_df.head())

SP500 Companies Data:
  Exchange Symbol              Shortname               Longname  \
0      NMS   NVDA     NVIDIA Corporation     NVIDIA Corporation
1      NMS   AAPL             Apple Inc.             Apple Inc.
2      NMS   MSFT  Microsoft Corporation  Microsoft Corporation
3      NMS   AMZN       Amazon.com, Inc.       Amazon.com, Inc.
4      NMS  GOOGL          Alphabet Inc.          Alphabet Inc.

                   Sector                        Industry  Currentprice  \
0              Technology                  Semiconductors        147.01
1              Technology            Consumer Electronics        228.28
2              Technology       Software - Infrastructure        417.79
3       Consumer Cyclical                 Internet Retail        204.61
4  Communication Services  Internet Content & Information        178.12

   Marketcap_in_Billions  Ebitda_in_Billions  Revenuegrowth           City  \
0                 3653.2                61.2          1.224    Santa Clara
1                 3450.6               134.7          0.061      Cupertino
2                 3106.2               136.6          0.160        Redmond
3                 2161.2               111.6          0.110        Seattle
4                 2153.3               123.5          0.151  Mountain View

  State        Country  Fulltimeemployees  \
0    CA  United States              29600
1    CA  United States             164000
2    WA  United States             228000
3    WA  United States            1551000
4    CA  United States             181269

                                 Longbusinesssummary  Weight
0  NVIDIA Corporation provides graphics and compu...    0.07
1  Apple Inc. designs, manufactures, and markets ...    0.06
2  Microsoft Corporation develops and supports so...    0.06
3  Amazon.com, Inc. engages in the retail sale of...    0.04
4  Alphabet Inc. offers various products and plat...    0.04